<a href="https://colab.research.google.com/github/rodpaschoal/Coursera_Capstone/blob/master/Toronto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IBM Coursera Capstone Project

In this notebook, we will cover the week 3 assessment which consists in:
* Web scrape Toronto neighborhoods
* Clean the dataset and 
* Conduct clustering analysis in the city with data from Foursquare API

In [25]:
import pandas as pd

dataframes = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = dataframes[0]
df

    Postal Code  ...                                       Neighborhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

### Filter lines where Borough is not assigned

In [26]:
df = df[ df['Borough'] != 'Not assigned' ]
df

    Postal Code  ...                                       Neighborhood
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
5           M6A  ...                   Lawrence Manor, Lawrence Heights
6           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
160         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
165         M4Y  ...                               Church and Wellesley
168         M7Y  ...  Business reply mail Processing Centre, South C...
169         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

### Group duplicate Postal Codes and join the resulting Neighborhoods series

In [27]:
df = df.groupby(['Postal Code','Borough'])['Neighborhood'].apply(','.join).reset_index()
df

    Postal Code      Borough                                       Neighborhood
0           M1B  Scarborough                                     Malvern, Rouge
1           M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2           M1E  Scarborough                  Guildwood, Morningside, West Hill
3           M1G  Scarborough                                             Woburn
4           M1H  Scarborough                                          Cedarbrae
..          ...          ...                                                ...
98          M9N         York                                             Weston
99          M9P    Etobicoke                                          Westmount
100         M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101         M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102         M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

### Assign boroughs to not assigned neighborhoods

In [71]:
df.loc[ df['Neighborhood'] == 'Not assigned' , 'Neighborhood' ] = df.loc[ df['Neighborhood'] == 'Not assigned' , 'Borough' ]
df

    Postal Code      Borough                                       Neighborhood
0           M1B  Scarborough                                     Malvern, Rouge
1           M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2           M1E  Scarborough                  Guildwood, Morningside, West Hill
3           M1G  Scarborough                                             Woburn
4           M1H  Scarborough                                          Cedarbrae
..          ...          ...                                                ...
98          M9N         York                                             Weston
99          M9P    Etobicoke                                          Westmount
100         M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101         M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102         M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

In [72]:
df.shape

(103, 3)